<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refactor Skateboarding</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/64db13f2fb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.typekit.net/mei1fth.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <div class="main-header">
            <div class="top-header">         
                <div class="hamburger-search">
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-search"></i>
                </div>

                <div class="main-logo">
                    <a href="/"><img src="images/refactorlogo.jpg" alt="refactorlogo"></a>
                </div>

                <div class="usuario">
                    <div class="login-menu">
                        <i class="fas fa-user"></i>
                        <a href="/register">Registrate</a>
                        <a href="/login">Ingresa</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="anuncios">
            <h3 class="anuncio">Envio gratis en compras mayores a $4.500,-</h3>
        </div>      
    </header>
    <main>
        <div class="banner-container">
            <section class="banner">
                <div class="banner-img-elements">
                    <img src="images/banner.jpg" alt="banner">
                </div>
            </section>
        </div>

        <section class="new-arrivals">
            <h3 class="titulo-section">ULTIMOS INGRESOS</h3>
            <div class="productos-container">
                <article class="producto">
                    <div class="producto-image">
                        <a href="/producto-detail"><img src="/images/vansNewEra.jpg" alt="new-era"></a>
                    </div>
                    <div class="producto-footer">
                        <div class="producto-footer-details">
                            <h2 class="title">VANS NEW ERA</h2>
                            <span class="title-meta">
                                <span class="title-price">AR$5,500.00</span>
                            </span>
                        </div>
                    </div>
                </article>

                <article class="producto">
                    <div class="producto-image">
                        <a href="/producto-detail"><img src="/images/ruedaRosa.jpeg" alt="rueda-rosa"></a>
                    </div>
                    <div class="producto-footer">
                        <div class="producto-footer-details">
                            <h2 class="title">RUEDA ROSA</h2>
                            <span class="title-meta">
                                <span class="title-price">AR$2,500.00</span>
                            </span>
                        </div>
                    </div>
                </article>

                <article class="producto">
                    <div class="producto-image">
                        <a href="/producto-detail"><img src="/images/giovanni.jpg" alt="giovanni-board"></a>
                    </div>
                    <div class="producto-footer">
                        <div class="producto-footer-details">
                            <h2 class="title">GIOVANNI VIANNA PRO TAMARIN DECK - 8.25</h2>
                            <span class="title-meta">
                                <span class="title-price">AR$6,300.00</span>
                            </span>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer></footer>
</body>
</html>