<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refactor Skateboarding</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/64db13f2fb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.typekit.net/mei1fth.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header>
        <div class="main-header">
            <div class="top-header">
                <div class="hamburger-search">
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-search"></i>
                </div>

                <div class="main-logo">
                    <a href="/"><img src="images/refactorlogo.jpg" alt="refactorlogo"></a>
                </div>

                <div class="usuario">
                    <div class="login-menu">
                        <div class="search-button"><i class="fas fa-search"></i></div>
                        <div class="user-button"><i class="fas fa-user"></i></div>
                        <div class="cart-button"><i class="fas fa-shopping-cart"></i></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="anuncios">
            <h3 class="anuncio">Envio gratis en compras mayores a $4.500,-</h3>
        </div>

        <div class="bottom-header">
            <div class="navigation">
                <nav class="desktop-nav">
                    <ul class="nav-list">
                        <li class="nav-item"><a href="#">PRODUCTOS</a></li>
                        <li class="nav-item"><a href="#">OFERTAS</a></li>
                        <li class="nav-item"><a href="#">CATEGORIAS</a></li>
                        <li class="nav-item"><a href="#">SOBRE NOSOTROS</a></li>
                        <li class="nav-item"><a href="#">TEAM</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main>

        <section class="customer-login">
            <div class="customer-login-container">
                <div class="page-title">
                    <h3 class="iniciar-sesion"> INICIAR SESIÓN</h3>
                </div>
                <div class="account-form">
                    <form class="login-form">
                        <div class="wrap-around email">
                            <label>Email</label>
                            <input type="text" placeholder="tu@email.com" value="" name="customer[email]" class="field">
                        </div>
                        <div class="wrap-around password">
                            <label>Contraseña</label>
                            <input type="password" name="customer[password]" class="field">
                        </div>
                        <div class="login-button-container">
                            <button type="submit" class="login-button">LOGIN</button>
                        </div>
                        <a class="forgot-password">¿Olvidaste tu contraseña?</a>
                    </form>
                </div>
                <div class="new-customer">
                    <p class="new-account">¿Todavia no tienes cuenta?</p>
                    <a class="create-new-account">Registrate</a>
                </div>
            </div>
        </section>



    </main>
    <footer>
        <section class="subscribe">
            <div class="subscribe-container">
                <div class="subscribe-title">
                    <h2>¡SUSCRIBITE PARA RECIBIR NUESTRAS NOVEDADES Y NUESTROS DESCUENTOS!</h2>
                </div>
                <div class="form">
                    <form action="/" method="GET">
                        <div class="email">
                            <input type="email" name="email" id="email" placeholder="Email">
                        </div>
                        <div class="submit-button">
                            <button type="submit">SUSCRIBITE</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <div class="container-footer">
            <div class="elements-container">
                <div class="footer-element footer-info">
                    <div class="title">
                        <h2>INFO</h2>
                    </div>
                    <div class="list-items">
                        <div class="list-item"><a href="">FAQ</a></div>
                        <div class="list-item"><a href="">BOARD SIZE CHART</a></div>
                        <div class="list-item"><a href="">APPAREL SIZE CHART</a></div>
                    </div>
                </div>
                <div class="footer-element footer-store">
                    <div class="title">
                        <h2>STORE</h2>
                    </div>
                    <div class="list-items">
                        <div class="list-item"><a href="">SHOP LOCATOR</a></div>
                        <div class="list-item"><a href="">CONTACT US</a></div>
                        <div class="list-item"><a href="">TERMS OF USE</a></div>
                    </div>
                </div>
                <div class="footer-element footer-company">
                    <div class="title">
                        <h2>COMPANY</h2>
                    </div>
                    <div class="list-items">
                        <div class="list-item"><a href="">SHIPPING POLICY</a></div>
                        <div class="list-item"><a href="">RETURN POLICY</a></div>
                        <div class="list-item"><a href="">PRIVACY POLICY</a></div>
                    </div>
                </div>
                <div class="footer-element footer-connect">
                    <div class="title">
                        <h2>CONNECT WITH US</h2>
                    </div>
                    <span>
                        <p>@REFACTORSK8</p>
                        <ul class="social-items">
                            <li class="social-item"><a href=""><i class="fab fa-youtube"></i></a></li>
                            <li class="social-item"><a href=""><i class="fab fa-facebook-f"></i></a></li>
                            <li class="social-item"><a href=""><i class="fab fa-twitter"></i></a></li>
                            <li class="social-item"><a href=""><i class="fab fa-instagram"></i></a></li>
                            <li class="social-item"><a href=""><i class="far fa-envelope"></i></a></li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
        <div class="subfooter">
            <div class="copyright">
                <h2>© 2021 REFACTOR SKATEBOARDING</h2>
            </div>
        </div>
    </footer>

</body>

</html>