/* GENERAL */
*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: muli, sans-serif !important;
    background-color: #FFFFFF;
}

main{
    width: 90%;
    margin: 0 auto;
}

/* HEADER */
.main-logo img{
    max-width: 250px;
    width: 90%;
}

.top-header {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    width: 100%;
    flex-direction: row;
}

.hamburger-search i {
    padding: 5px;
    font-size: 20px;
}

.anuncios {
    display: flex;
    align-items: center;
    max-height: 35px;
    justify-content: center;
    background-color: #000000;
    text-align: center;
    padding: 5px;
    color: #FFFFFF;
    margin-bottom: 15px;
}


/* MAIN */

main div {
    padding-bottom: 20px;
}

section h3 {
    text-align: center;
    font-size: 20px;
}

/* BANNER */
.banner {
    margin-top: 0;
    display: block;
}

.banner-img-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    max-width: 1430px;
    margin: 0px auto;
}

.banner-img-elements img {
    width: 100%;
}

/* PRODUCTOS */
.producto {
    padding: 25px;
}

.producto-image {
    width: 100%;
}

.producto-image img {
    max-width: 250px;
}

main section div.productos-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

main section div.productos-container article{
    cursor: pointer;
}

article div.producto-footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

.title-meta {
    color: rgb(133, 133, 133);
    font-weight: lighter;
}


@media (min-width: 361px)  {
    .productos-container article {
        width: 45%;
    }
}
@media (min-width: 768px)  {}
@media (min-width: 1199px) {}

